.width-100 {
  width: 100%;
}
.nav-border {
  border: 1px solid lightgrey;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: black;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  position: fixed;
  height: 50px;
  border-bottom: 1px solid lightgrey;
  background-color: rgba(0, 0, 255, 0);
  z-index: 2;
}
.nav-bar .nav-container {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  color: #f1f1f1;
  letter-spacing: 1px;
  padding: 10px;
  text-decoration: none;
}
.nav-bar .nav-container .container-left {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 1.6rem;
}
.nav-bar .nav-container .container-left span {
  cursor: pointer;
  margin-right: 20%;
  font-weight: bold;
}
.nav-bar .nav-container .container-left span a {
  text-decoration: none;
  color: #f1f1f1;
}
@media (max-width: 500px) {
  .nav-bar .nav-container .container-left span a {
    border: 1px solid lightgrey;
  }
}
.nav-bar .nav-container .container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 3;
  font-size: 1.4rem;
}
.nav-bar .nav-container .container-center a {
  cursor: pointer;
  margin-right: 5%;
  text-decoration: none;
  color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
}
.nav-bar .nav-container .container-center a:last-child {
  margin-right: 0;
}
.nav-bar .nav-container .container-center a:hover {
  background: black;
}
.nav-bar .nav-container .container-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
}
.nav-bar .nav-container .container-right button {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0);
  width: 50%;
  border: 1px solid white;
  height: 25px;
  color: white;
}
@media (max-width: 800px) {
  .nav-bar .nav-container .container-right button {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .nav-bar {
    display: none;
  }
}
.mobile-nav {
  display: none;
  background-color: rgba(0, 0, 255, 0);
}
.mobile-nav .menu-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.mobile-nav .menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}
.mobile-nav .menu-btn span {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px 0;
  background: #989da1;
  z-index: 99;
}
@media (max-width: 500px) {
  .mobile-nav {
    display: block;
    z-index: 100;
    background-color: rgba(0, 0, 255, 0);
  }
}
.mobile-nav .responsive-menu {
  display: block;
  position: fixed;
  opacity: 0;
  top: 35px;
  right: 0;
  width: 0px;
  height: auto;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: black;
  border: 1px solid white;
  border-right: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.mobile-nav .responsive-menu ul li {
  list-style-type: none;
  font-size: 2rem;
  padding: 30px 0;
  text-align: center;
  border: 1px solid white;
}
.mobile-nav .responsive-menu ul li a {
  text-decoration: none;
  color: #f1f1f1;
  opacity: 1;
  padding: 30px 30px;
}
.mobile-nav .responsive-menu ul li a:hover {
  color: orangered;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  z-index: 0;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: white;
  background-color: black;
  opacity: 0.5;
  font-size: 4rem;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: none;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: white;
  background-color: blue;
  border: 2px solid blue;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
@media (max-width: 800px) {
  .carousel .left-button {
    top: 25%;
  }
}
@media (max-width: 500px) {
  .carousel .left-button {
    top: 20%;
  }
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
@media (max-width: 800px) {
  .carousel .right-button {
    top: 25%;
  }
}
@media (max-width: 500px) {
  .carousel .right-button {
    top: 20%;
  }
}
.carousel img {
  width: 100%;
  display: none;
}
.main-content {
  z-index: 1;
  color: white;
  position: absolute;
  width: 20%;
  line-height: 1;
  top: 7%;
  left: 15%;
}
.main-content h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
.main-content h1 p {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
.main-content p {
  text-align: center;
  font-size: 1.6rem;
}
.main-content button {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0);
  width: 100%;
  border: 1px solid white;
  height: 35px;
  color: white;
}
@media (max-width: 800px) {
  .main-content {
    top: 65%;
  }
}
@media (max-width: 500px) {
  .main-content {
    width: 50%;
    top: 50%;
    left: 25%;
  }
}
.contentIndex0 {
  top: 7%;
  left: 15%;
}
@media (max-width: 800px) {
  .contentIndex0 {
    top: 65%;
  }
}
@media (max-width: 500px) {
  .contentIndex0 {
    top: 50%;
    left: 25%;
  }
}
.contentIndex1 {
  top: 10%;
  left: 15%;
}
@media (max-width: 800px) {
  .contentIndex1 {
    top: 65%;
  }
}
@media (max-width: 500px) {
  .contentIndex1 {
    top: 50%;
    left: 25%;
  }
}
.contentIndex2 {
  top: 43%;
  left: 10%;
}
@media (max-width: 800px) {
  .contentIndex2 {
    top: 65%;
    left: 15%;
  }
}
@media (max-width: 500px) {
  .contentIndex2 {
    top: 50%;
    left: 25%;
  }
}
.contentIndex3 {
  top: 13%;
  left: 21%;
}
@media (max-width: 800px) {
  .contentIndex3 {
    top: 65%;
    left: 15%;
  }
}
@media (max-width: 500px) {
  .contentIndex3 {
    top: 50%;
    left: 25%;
  }
}
.contentIndex4 {
  top: 10%;
  left: 75%;
}
@media (max-width: 800px) {
  .contentIndex4 {
    top: 65%;
    left: 15%;
  }
}
@media (max-width: 500px) {
  .contentIndex4 {
    top: 50%;
    left: 25%;
  }
}
.team {
  top: 50px;
}
.team .team-member {
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  width: auto;
  height: 145px;
  margin: 10px 0;
}
.team .team-member img {
  max-height: 140px;
  border-radius: 50%;
  border: 2px solid white;
}
.team .team-member .pii {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}
.team .team-member .pii .name {
  color: white;
  font-size: 3rem;
}
.team .team-member .pii p {
  margin-top: 10px;
  color: #93c0e9;
  font-size: 1.6rem;
  vertical-align: middle;
  padding: 0 5%;
  line-height: 2rem;
}
.team .team-member .github {
  margin: 50px 20px;
}
@media (max-width: 800px) {
  .team .team-member {
    height: auto;
    margin: 20px 0;
  }
}
@media (max-width: 500px) {
  .team .team-member {
    height: auto;
    margin: 10px 0;
  }
}
@media (max-width: 500px) {
  .team {
    margin-top: 40px;
  }
}
