@import './variables.less';
@import './mixins.less';
@import './reset.less';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700%7COpen+Sans+Condensed:300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Comic Sans MS', 'Comic Sans';
}

html {
    font-size: 62.5%;
}

body {
    background: black;
    // background-image: url('../Img/rustic-vegan-1561503-unsplash.jpg')
    font-family: 'Comic Sans MS', 'Comic Sans';
    height: auto;
    width: auto;
}

@import '../Navbar/navbar.less';
@import '../Carousel/carousel.less';
@import '../About/about.less';