@import './variables.less';
@import './mixins.less';
@import './reset.less';

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: black;
    // background-image: url('../Img/rustic-vegan-1561503-unsplash.jpg')
}

@import '../Navbar/navbar.less';
@import '../Carousel/carousel.less';
@import '../About/about.less';